name: pipeline
on: push
jobs:
  lint:
    
    runs-on: ubuntu-latest
    
    steps:

    - name: Code Checkout
      uses: actions/checkout@v1

    - name: Setup python environment
      uses: actions/setup-python@v1.1.1

    - name: Install requirements
      run: pip install --quiet --requirement requirements.txt

    - name: Linting
      run: |
        flake8 --ignore=E501,E231 *.py
        pylint --disable=C0301 --disable=C0326 *.py

    - name: Run unittest 
      run: python test.py

    